In [64]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from astropy.io import fits
from astropy.time import Time
import glob
import aplpy
import sqlite3 
import gzip 
import io
import os

import copy
import json

import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

ARCHIVAL_DIR = '/epyc/data/ztf/alerts/'

pd.options.display.max_columns = 150

In [95]:
from os import listdir
from os.path import isfile, join
data_files = [f for f in listdir(ARCHIVAL_DIR+'public/') if isfile(join(ARCHIVAL_DIR+'public/', f))]
csv_ts = [f.split('public_')[-1].split('.')[0][:8] for f in data_files]
alert_ts = list(set(csv_ts).remove(''))

In [99]:
set(csv_ts).remove('')

KeyError: '.'

## Create test dataset

In [66]:
conn = sqlite3.connect('/astro/users/ykwang/data/sqlite_archival.db')
df = pd.read_sql_query("SELECT * FROM ZTF_objects", conn).drop_duplicates()
df.columns = ['ztf_object_id', 'SIMBAD_otype', 'ra', 'dec', 'ROSAT_IAU_NAME',
       'SIMBAD_include', 'last_obs', 'seen_flag', 'interest_flag', 'notes']
len(df['ztf_object_id'].unique())

56000

In [67]:
df = df.loc[df['SIMBAD_include'] == 1].sort_values('last_obs',ascending=False).drop_duplicates(subset=['ztf_object_id'])

In [72]:
with open('archival_sources.txt', 'w') as f:
    for oid in df['ztf_object_id'].unique():
        f.write(f'{oid}\n')

In [52]:
cur = conn.cursor()
cur.execute("SELECT * FROM lightcurves")
dflc = pd.DataFrame(cur.fetchall()).drop_duplicates()
dflc.columns = ['ztf_object_id', 'jd', 'fid', 'magpsf', 'sigmapsf', 'diffmaglim', 'isdiffpos', 'magnr', 'sigmagnr', 'field', 'rcid']
dflc[['jd', 'magpsf', 'sigmapsf', 'diffmaglim', 'magnr', 'sigmagnr', 'field', 'rcid']] = dflc[['jd', 'magpsf', 'sigmapsf', 'diffmaglim', 'magnr', 'sigmagnr', 'field', 'rcid']].astype(float)
dflc['fid'] = dflc['fid'].astype(int)

In [53]:
len(dflc)

3099068

In [54]:
len(dflc['ztf_object_id'].unique())

52361

In [55]:
# df = df.query(f'last_obs > {now_jd - day_thres}')
dflc = dflc.loc[dflc['ztf_object_id'].isin(df['ztf_object_id'])]

In [56]:
%%time
dflc['sign'] = 2* (dflc['isdiffpos'] == 't') - 1

u = 10**(-0.4*dflc['magnr']) + dflc['sign'] * 10**(-0.4*dflc['magpsf'])
dflc['dc_mag'] = -2.5 * np.log10(u)
dflc['dc_sigmag'] = np.sqrt(
    (10**(-0.4*dflc['magnr'])* dflc['sigmagnr']) **2. + 
    (10**(-0.4*dflc['magpsf']) * dflc['sigmapsf'])**2.) / u
dflc['dc_mag_ulim'] = -2.5 * np.log10(10**(-0.4*dflc['magnr']) + 10**(-0.4*dflc['diffmaglim']))
dflc['dc_mag_llim'] = -2.5 * np.log10(10**(-0.4*dflc['magnr']) - 10**(-0.4*dflc['diffmaglim']))

CPU times: user 530 ms, sys: 14.8 ms, total: 545 ms
Wall time: 578 ms

In [57]:
top_oids = dflc.ztf_object_id.value_counts().index[:100]

In [58]:
data = dflc.loc[dflc['ztf_object_id'].isin(top_oids[:10])]

In [59]:
%%time
data['utc'] = pd.to_datetime(data['jd'], unit='D', origin='julian')
data.set_index(['ztf_object_id', 'fid'], inplace=True)
data = data.sort_values('utc').sort_index()

CPU times: user 239 ms, sys: 35.7 ms, total: 275 ms
Wall time: 424 ms

## Create von neuman metric

In [60]:
vn = data.groupby(["ztf_object_id", "fid"])['dc_mag'].apply(lambda x: (x[1:] - x[:-1])**2 / ((len(x) - 1)*x.std()))

In [61]:
vn

ztf_object_id  fid  ztf_object_id  fid
ZTF17aaaikoz   1    ZTF17aaaikoz   1      0.000257
                                   1      0.003801
                                   1      0.000002
                                   1      0.007117
                                   1      0.000119
                                            ...
ZTF18abhhnjk   3    ZTF18abhhnjk   3      0.000011
                                   3      0.001363
                                   3      0.000769
                                   3      0.000505
                                   3      0.001257
Name: dc_mag, Length: 14263, dtype: float64

In [ ]:
%time
data['expd_mean']=data.groupby(["ztf_object_id", "fid"])['dc_mag'].apply(lambda x: x.expanding().apply(np.mean))
data['expd_std']=data.groupby(["ztf_object_id", "fid"])['dc_mag'].apply(lambda x: x.expanding().apply(np.std))

In [63]:
test = data.groupby(["ztf_object_id", "fid"])[['dc_mag', 'expd_mean']].apply(lambda x: print(((x['expd_mean'] - x['dc_mag'])>0).rolling(4).sum()))

ztf_object_id  fid
ZTF17aaaikoz   1      NaN
               1      NaN
               1      NaN
               1      3.0
               1      3.0
                     ...
               1      3.0
               1      3.0
               1      2.0
               1      2.0
               1      3.0
Length: 353, dtype: float64
ztf_object_id  fid
ZTF17aaaikoz   2      NaN
               2      NaN
               2      NaN
               2      2.0
               2      3.0
                     ...
               2      3.0
               2      3.0
               2      3.0
               2      4.0
               2      4.0
Length: 877, dtype: float64
ztf_object_id  fid
ZTF17aaaikoz   3      NaN
               3      NaN
               3      NaN
               3      1.0
               3      2.0
                     ...
               3      4.0
               3      4.0
               3      4.0
               3      4.0
               3      3.0
Length: 74, dtype: float64
ztf_object_id  fid
ZTF18aagrcyj   1      NaN
               1      NaN
               1      NaN
               1      3.0
               1      4.0
                     ...
               1      2.0
               1      3.0
               1      2.0
               1      2.0
               1      3.0
Length: 949, dtype: float64
ztf_object_id  fid
ZTF18aagrcyj   2      NaN
               2      NaN
               2      NaN
               2      3.0
               2      4.0
                     ...
               2      4.0
               2      4.0
               2      4.0
               2      4.0
               2      3.0
Length: 705, dtype: float64
ztf_object_id  fid
ZTF18aagrcyj   3      NaN
               3      NaN
               3      NaN
               3      0.0
               3      0.0
                     ...
               3      1.0
               3      1.0
               3      1.0
               3      2.0
               3      3.0
Length: 339, dtype: float64
ztf_object_id  fid
ZTF18aagrdpj   1      NaN
               1      NaN
               1      NaN
               1      1.0
               1      2.0
                     ...
               1      3.0
               1      3.0
               1      3.0
               1      3.0
               1      4.0
Length: 814, dtype: float64
ztf_object_id  fid
ZTF18aagrdpj   2      NaN
               2      NaN
               2      NaN
               2      1.0
               2      1.0
                     ...
               2      3.0
               2      3.0
               2      3.0
               2      4.0
               2      4.0
Length: 330, dtype: float64
ztf_object_id  fid
ZTF18aagrdpj   3      NaN
               3      NaN
               3      NaN
               3      0.0
               3      0.0
                     ...
               3      4.0
               3      4.0
               3      4.0
               3      4.0
               3      3.0
Length: 166, dtype: float64
ztf_object_id  fid
ZTF18aaisedb   1      NaN
               1      NaN
               1      NaN
               1      1.0
               1      2.0
                     ...
               1      2.0
               1      2.0
               1      1.0
               1      0.0
               1      1.0
Length: 549, dtype: float64
ztf_object_id  fid
ZTF18aaisedb   2      NaN
               2      NaN
               2      NaN
               2      0.0
               2      0.0
                     ...
               2      2.0
               2      2.0
               2      1.0
               2      2.0
               2      3.0
Length: 699, dtype: float64
ztf_object_id  fid
ZTF18aaisedb   3      NaN
               3      NaN
               3      NaN
               3      2.0
               3      2.0
                     ...
               3      4.0
               3      4.0
               3      4.0
               3      3.0
               3      3.0
Length: 271, dtype: float64
ztf_object_id  fid
ZTF18aajtkma   1      NaN
               1      NaN
               1      NaN
               1      2.0
               1      2.0
                     ...
               1      1.0
               1      2.0
               1      2.0
               1      3.0
               1      3.0
Length: 725, dtype: float64
ztf_object_id  fid
ZTF18aajtkma   2      NaN
               2      NaN
               2      NaN
               2      1.0
               2      2.0
                     ...
               2      2.0
               2      3.0
               2      4.0
               2      3.0
               2      3.0
Length: 441, dtype: float64
ztf_object_id  fid
ZTF18aajtkma   3      NaN
               3      NaN
               3      NaN
               3      1.0
               3      2.0
                     ...
               3      0.0
               3      0.0
               3      1.0
               3      1.0
               3      1.0
Length: 91, dtype: float64
ztf_object_id  fid
ZTF18aapuklg   1      NaN
               1      NaN
               1      NaN
               1      3.0
               1      4.0
                     ...
               1      1.0
               1      2.0
               1      2.0
               1      3.0
               1      2.0
Length: 567, dtype: float64
ztf_object_id  fid
ZTF18aapuklg   2      NaN
               2      NaN
               2      NaN
               2      0.0
               2      0.0
                     ...
               2      0.0
               2      0.0
               2      0.0
               2      0.0
               2      0.0
Length: 693, dtype: float64
ztf_object_id  fid
ZTF18aapuklg   3      NaN
               3      NaN
               3      NaN
               3      0.0
               3      0.0
               3      1.0
               3      2.0
               3      2.0
               3      2.0
               3      1.0
               3      1.0
               3      2.0
               3      2.0
               3      2.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      0.0
               3      0.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      0.0
               3      0.0
               3      1.0
               3      1.0
               3      1.0
               3      1.0
               3      0.0
               3      0.0
dtype: float64
ztf_object_id  fid
ZTF18aaypnnd   1      NaN
               1      NaN
               1      NaN
               1      1.0
               1      1.0
                     ...
               1      1.0
               1      1.0
               1      0.0
               1      0.0
               1      0.0
Length: 566, dtype: float64
ztf_object_id  fid
ZTF18aaypnnd   2      NaN
               2      NaN
               2      NaN
               2      2.0
               2      3.0
                     ...
               2      3.0
               2      2.0
               2      1.0
               2      0.0
               2      0.0
Length: 634, dtype: float64
ztf_object_id  fid
ZTF18aaypnnd   3      NaN
               3      NaN
               3      NaN
               3      1.0
               3      1.0
                     ...
               3      1.0
               3      0.0
               3      0.0
               3      0.0
               3      0.0
Length: 63, dtype: float64
ztf_object_id  fid
ZTF18abakkox   1      NaN
               1      NaN
               1      NaN
               1      0.0
               1      0.0
                     ...
               1      0.0
               1      0.0
               1      0.0
               1      0.0
               1      1.0
Length: 596, dtype: float64
ztf_object_id  fid
ZTF18abakkox   2      NaN
               2      NaN
               2      NaN
               2      2.0
               2      2.0
                     ...
               2      0.0
               2      0.0
               2      0.0
               2      0.0
               2      1.0
Length: 635, dtype: float64
ztf_object_id  fid
ZTF18abcqzxh   1      NaN
               1      NaN
               1      NaN
               1      1.0
               1      1.0
                     ...
               1      0.0
               1      0.0
               1      1.0
               1      2.0
               1      2.0
Length: 676, dtype: float64
ztf_object_id  fid
ZTF18abcqzxh   2      NaN
               2      NaN
               2      NaN
               2      2.0
               2      3.0
                     ...
               2      0.0
               2      0.0
               2      0.0
               2      0.0
               2      0.0
Length: 909, dtype: float64
ztf_object_id  fid
ZTF18abcqzxh   3      NaN
               3      NaN
               3      NaN
               3      2.0
               3      3.0
                     ...
               3      0.0
               3      0.0
               3      0.0
               3      0.0
               3      0.0
Length: 175, dtype: float64
ztf_object_id  fid
ZTF18abhhnjk   1      NaN
               1      NaN
               1      NaN
               1      2.0
               1      3.0
                     ...
               1      0.0
               1      0.0
               1      0.0
               1      0.0
               1      0.0
Length: 503, dtype: float64
ztf_object_id  fid
ZTF18abhhnjk   2      NaN
               2      NaN
               2      NaN
               2      3.0
               2      4.0
                     ...
               2      0.0
               2      0.0
               2      0.0
               2      0.0
               2      0.0
Length: 557, dtype: float64
ztf_object_id  fid
ZTF18abhhnjk   3      NaN
               3      NaN
               3      NaN
               3      2.0
               3      3.0
                     ...
               3      0.0
               3      0.0
               3      0.0
               3      0.0
               3      0.0
Length: 298, dtype: float64

In [38]:
data.groupby(["ztf_object_id", "fid"])[['dc_mag', 'expd_mean']].apply(lambda x: x.rolling(4).apply(lambda y: print(y)))

            dc_mag  expd_mean
11391    17.274313  17.274313
11392    17.340516  17.307414
14567    17.156626  17.257152
17758    18.042777  17.453558
38207    15.550437  17.072934
...            ...        ...
4685766  17.837621  16.793689
4698986  17.965584  16.797076
4699123  17.871179  16.800171
4699736  17.261071  16.801496
4699833  16.240828  16.799889

[353 rows x 2 columns]
            dc_mag  expd_mean
9047     15.371219  15.371219
11328    15.559349  15.465284
14675    15.610381  15.513650
16469    15.236446  15.444349
16473    15.345055  15.424490
...            ...        ...
4676186  17.252072  17.145695
4684901  16.326447  17.144749
4685243  16.376873  17.143863
4685284  17.424926  17.144187
4699571  16.468059  17.143409

[877 rows x 2 columns]
            dc_mag  expd_mean
2577721  16.604675  16.604675
2634917  16.094359  16.349517
2812398  16.735582  16.478206
2812401  16.703859  16.534619
2853183  17.085467  16.644789
...            ...        ...
4676129  16.935356  16.476994
4694135  16.010325  16.470421
4730845  16.395456  16.469380
4730861  16.340379  16.467613
4751631  17.294404  16.478786

[74 rows x 2 columns]
            dc_mag  expd_mean
450      19.216355  19.216355
1131     18.108561  18.662458
1181     18.116865  18.480594
1847     19.595845  18.759406
3751     19.584674  18.924460
...            ...        ...
4812466  19.282863  18.874558
4812730  19.453358  18.875177
4854999  21.501822  18.877983
4855005  20.501496  18.879716
4855400  19.638381  18.880525

[949 rows x 2 columns]
            dc_mag  expd_mean
118      18.297726  18.297726
523      19.418351  18.858038
1133     18.233067  18.649715
1147     18.345778  18.573730
1601     18.222336  18.503452
...            ...        ...
4784879  18.196963  18.518008
4788138  18.155655  18.517491
4788188  18.083999  18.516874
4796455  18.221248  18.516453
4796458  18.385886  18.516268

[705 rows x 2 columns]
            dc_mag  expd_mean
1322782  17.086644  17.086644
1343615  17.397175  17.241910
1480729  19.610450  18.031423
1480735  19.581016  18.418821
1533278  19.780131  18.691083
...            ...        ...
4629248  18.962127  18.680268
4651973  19.609165  18.683033
4710179  19.147570  18.684411
4753692  19.344473  18.686364
4783328  18.334458  18.685326

[339 rows x 2 columns]
            dc_mag  expd_mean
1201     16.011871  16.011871
8692     16.052688  16.032280
16895    16.165900  16.076820
24452    15.648391  15.969712
34964    15.760083  15.927787
...            ...        ...
4808136  15.655197  15.795142
4812353  16.071862  15.795484
4812684  15.649571  15.795304
4812699  15.673994  15.795155
4855105  15.758743  15.795110

[814 rows x 2 columns]
            dc_mag  expd_mean
14738    15.146042  15.146042
68084    15.073727  15.109885
76509    14.781444  15.000404
96194    15.075136  15.019087
114734   15.154075  15.046085
...            ...        ...
4710398  15.218452  15.023778
4722337  15.212434  15.024355
4722351  15.190222  15.024861
4785139  15.205133  15.025409
4788149  15.232770  15.026037

[330 rows x 2 columns]
            dc_mag  expd_mean
1941611  14.684563  14.684563
1950446  14.458751  14.571657
1956103  14.469088  14.537468
1984472  14.428786  14.510297
1990028  14.450621  14.498362
...            ...        ...
4603730  14.367981  14.585510
4612871  14.399786  14.584371
4623332  14.850934  14.585996
4651914  14.716433  14.586787
4763510  14.438514  14.585894

[166 rows x 2 columns]
            dc_mag  expd_mean
1119     17.306050  17.306050
1193     17.546189  17.426120
2554     16.642996  17.165078
3726     17.447676  17.235728
8652     16.760799  17.140742
...            ...        ...
4784776  16.939104  16.729127
4792368  16.980427  16.729588
4792550  16.974720  16.730036
4792829  17.494814  16.731431
4855451  17.718774  16.733230

[549 rows x 2 columns]
            dc_mag  expd_mean
144      17.296133  17.296133
571      15.342967  16.319550
1744     16.878281  16.505794
2025     17.042335  16.639929
3140     17.342097  16.780363
...            ...        ...
4779658  17.593442  16.790267
4779669  17.439038  16.791199
4785152  16.627520  16.790965
4855769  17.249352  16.791621
4855781  17.274181  16.792312

[699 rows x 2 columns]
            dc_mag  expd_mean
1641410  17.246338  17.246338
1645842  17.224900  17.235619
1659039  17.441297  17.304178
1717939  15.837373  16.937477
1718013  15.886754  16.727332
...            ...        ...
4700007  15.762650  16.645238
4700014  15.816830  16.642147
4783266  17.438171  16.645106
4783284  17.421958  16.647983
5092612  16.644168  16.647969

[271 rows x 2 columns]
            dc_mag  expd_mean
3718     17.057100  17.057100
8475     17.157011  17.107055
17180    16.906576  17.040229
18584    16.815841  16.984132
20646    16.790335  16.945372
...            ...        ...
4785265  16.614696  16.879590
4791772  16.764561  16.879430
4791995  16.865672  16.879411
4792658  16.897045  16.879436
4855187  16.313129  16.878655

[725 rows x 2 columns]
            dc_mag  expd_mean
3065     16.067564  16.067564
5065     17.130373  16.598969
8709     15.708643  16.302193
14212    16.329220  16.308950
15708    16.875221  16.422204
...            ...        ...
4741134  16.254706  16.655470
4741424  16.734087  16.655650
4744575  16.710180  16.655774
4774332  16.811907  16.656129
4784995  16.336047  16.655403

[441 rows x 2 columns]
            dc_mag  expd_mean
1485908  16.909669  16.909669
1645856  15.682717  16.296193
2002381  16.187804  16.260064
2031032  16.997543  16.444433
2074176  16.654832  16.486513
...            ...        ...
4572542  16.996217  16.877595
4607873  17.395346  16.883478
4610911  16.938247  16.884094
4783294  16.187470  16.876353
4808383  17.122919  16.879063

[91 rows x 2 columns]
            dc_mag  expd_mean
3838     17.525150  17.525150
17226    18.996280  18.260715
17260    19.184988  18.568806
20611    18.946238  18.663164
20632    18.868538  18.704239
...            ...        ...
5021562  18.980855  18.588579
5021861  18.873327  18.589084
5093024  18.954534  18.589731
5157394  18.906062  18.590290
5157605  19.068467  18.591133

[567 rows x 2 columns]
            dc_mag  expd_mean
155      16.845820  16.845820
3808     17.427135  17.136478
5198     18.732172  17.668376
7445     18.938694  17.985955
7558     17.723546  17.933474
...            ...        ...
5021023  18.795007  18.407604
5021177  18.808976  18.408186
5021300  18.641762  18.408524
5093138  18.447608  18.408581
5157278  18.735772  18.409053

[693 rows x 2 columns]
            dc_mag  expd_mean
1370235  17.451262  17.451262
1401657  19.329764  18.390513
1515760  18.539083  18.440036
1579489  18.937337  18.564362
1645823  18.689540  18.589397
1649886  18.519861  18.577808
1763919  18.846041  18.616127
2156185  18.560352  18.609155
2184797  18.597894  18.607904
2314199  18.967180  18.643831
3011561  18.979683  18.674363
3016811  18.984771  18.700231
3094983  19.205535  18.739100
3171778  18.973334  18.755831
3391872  18.811124  18.759517
3416473  18.549163  18.746370
3422748  19.117964  18.768229
3502751  16.211512  18.626189
3610152  18.683341  18.629197
3624964  19.242704  18.659872
3637645  18.490060  18.651786
3675387  16.380588  18.548550
3699396  18.777485  18.558503
3797315  18.695471  18.564210
3857946  18.496299  18.561494
3873770  18.549144  18.561019
3905863  18.528294  18.559807
4023862  18.505083  18.557852
4041111  17.013069  18.504584
4076098  17.935991  18.485631
4124969  18.583051  18.488774
4310441  17.783633  18.466738
4408777  18.628654  18.471644
4511409  18.750356  18.479842
4572644  18.747443  18.487488
4611016  18.694976  18.493251
4704401  18.567131  18.495248
            dc_mag  expd_mean
1534     16.718929  16.718929
3983     17.642959  17.180944
4004     17.652781  17.338223
5620     15.642704  16.914343
7166     17.528251  17.037125
...            ...        ...
4316415  16.713346  17.070897
4427641  16.894400  17.070577
4567260  17.365816  17.071112
4793201  17.646086  17.072151
4814080  17.534617  17.072986

[566 rows x 2 columns]
            dc_mag  expd_mean
4021     17.473556  17.473556
8795     17.073568  17.273562
8796     17.196137  17.247754
9415     19.610137  17.838349
11276    17.296995  17.730078
...            ...        ...
4813516  17.348528  17.053169
4813582  17.271040  17.053515
4813686  17.405209  17.054072
4813691  17.429030  17.054665
4856220  16.937910  17.054481

[634 rows x 2 columns]
            dc_mag  expd_mean
2254449  16.199288  16.199288
2262003  16.228058  16.213673
2294956  16.195423  16.207589
2323690  16.182201  16.201242
2338955  16.064456  16.173885
...            ...        ...
4427249  16.212239  16.153163
4440920  16.159602  16.153270
4469185  17.504010  16.175414
4469354  16.158322  16.175138
4652094  15.903195  16.170821

[63 rows x 2 columns]
            dc_mag  expd_mean
3044     18.970811  18.970811
4678     17.443446  18.207128
7097     18.557214  18.323824
7159     16.064918  17.759097
8482     16.511105  17.509499
...            ...        ...
4793985  18.795663  18.132208
4804642  19.207200  18.134021
4804690  18.790702  18.135126
5022002  18.721245  18.136111
5158039  18.848637  18.137307

[596 rows x 2 columns]
            dc_mag  expd_mean
3018     17.979756  17.979756
3076     17.710328  17.845042
3096     17.927818  17.872634
4720     16.939466  17.639342
7084     17.841466  17.679767
...            ...        ...
4805093  17.912949  17.164969
4805603  17.773082  17.165931
4809277  17.810503  17.166949
4856076  15.092994  17.163678
5093497  17.665631  17.164468

[635 rows x 2 columns]
            dc_mag  expd_mean
4043     17.986139  17.986139
8870     17.768356  17.877247
16262    18.016293  17.923596
16269    17.942772  17.928390
17353    18.124274  17.967567
...            ...        ...
4761718  19.321688  18.863805
4761862  19.282816  18.864428
4761893  19.108893  18.864790
4793786  18.382221  18.864076
5157789  18.228149  18.863135

[676 rows x 2 columns]
            dc_mag  expd_mean
9315     17.839967  17.839967
13432    16.630109  17.235038
14641    17.618704  17.362927
17127    17.534463  17.405811
17139    17.632740  17.451197
...            ...        ...
4761426  18.740829  18.317500
4772304  19.051845  18.318311
4801145  18.174216  18.318152
4857925  17.710754  18.317483
5093300  17.868232  18.316989

[909 rows x 2 columns]
            dc_mag  expd_mean
1331382  17.480286  17.480286
1369311  17.395457  17.437871
1370333  17.345432  17.407058
1586889  17.298181  17.379839
1586898  17.434934  17.390858
...            ...        ...
4779890  17.824875  17.742072
4793258  17.848983  17.742694
4805483  17.379155  17.740592
4975404  17.496783  17.739191
4975501  17.397860  17.737240

[175 rows x 2 columns]
            dc_mag  expd_mean
2592     18.379950  18.379950
4343     18.405670  18.392810
7906     18.438501  18.408040
11152    18.348520  18.393160
11166    18.386252  18.391778
...            ...        ...
4426374  18.136578  18.243534
4426723  18.141863  18.243331
4578552  18.181097  18.243206
4578556  18.153452  18.243028
4855458  18.207712  18.242957

[503 rows x 2 columns]
            dc_mag  expd_mean
4550     18.365499  18.365499
7944     18.380160  18.372830
10707    18.304921  18.350194
13027    18.322811  18.343348
13847    18.397339  18.354146
...            ...        ...
4338156  18.131470  18.188823
4339422  18.072319  18.188613
4425976  18.121047  18.188491
4578302  18.084364  18.188304
4578312  18.087206  18.188122

[557 rows x 2 columns]
            dc_mag  expd_mean
1564013  18.078444  18.078444
1575905  17.985862  18.032153
1717934  17.999690  18.021332
1746797  17.962846  18.006710
1746939  17.968186  17.999005
...            ...        ...
4579556  17.927932  17.954971
4579731  17.920449  17.954854
4579758  17.902670  17.954677
4596605  18.045087  17.954982
4685376  17.970627  17.955034

[298 rows x 2 columns]

Empty DataFrame
Columns: []
Index: []

In [31]:
len(data)

14292

## Length of outburst